<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input type="email" matInput formControlName="email" placeholder="Your email">
          <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Field must not be empty</mat-error>
          <mat-error *ngIf="!loginForm.controls['email'].hasError('required')">E-Mail invalid</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput formControlName="password"  placeholder="Your password" >
          <mat-hint align="end">{{loginForm.controls['password'].value?.length}} / 6</mat-hint>
          <mat-error align="end">{{loginForm.controls['password'].value?.length}} / 6</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
    </form>
  </section>